hr {
  margin-top: 30px;
  margin-bottom: 20px;
  border-color: #f5ede1;
}

header, footer {
    background-color: #11100c; 
    color: #f5ede1; 
}

body {
    background-color: #11100c; 
    color: #f5ede1; 
}

a {
    color: #fe3519; 
}

a:hover {
    color: #b1c5eb; 
}

nav, nav a {
    color: #f5ede1 
}

.header-title, .site-title {
    color: #f5ede1 
}

.post_navi {
    background-color: #11100c; 
    color: #f5ede1; 
}

.post_navi-label {
    font-size: 0.8em;
    opacity: 0.8;
    color: #f5ede1; 
}

.post_navi .post_navi-item {
    padding: 0 2.2em;
    width: 50%;
    position: relative;
    color: #f5ede1 !important; 
}

.post_navi, .post_navi a {
    color: #f5ede1
}

.post_navi .nav_prev {
    text-align: left;
}

.post_navi .nav_next {
    text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
    left: 0;
}

.post_navi .nav_next .post_navi-arrow {
    right: 0;
}

.post_navi .post_navi-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5em;
    opacity: 0.3;
    color: #fe3519; 
}
